@charset "UTF-8";

:root {
    --cor1: #0167A7; 
    --cor2: #77B5DB;
    --cor3: #404E5B;
    --cor4: #B5D9F3;
    --cor5: #0687C1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, var(--cor3), var(--cor1));
}

.calculadora {
    background: var(--cor2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px  2px rgba(0, 0, 0, 0.97);
    height: 320px;
    width: 195px;
}

.botoes button { 
    width:35px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.534);
    border-radius: 5px;
    border: none;
}

input[type="text"] {
    background-color: #66666675;
    color: black;
    width:85%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    box-shadow:2px 2px 5px black ;
}

.botoes .unico {
    width: 85px;
    background-color: var(--cor5);
    color: #f0f0f0;
    border-radius: 5px;
}

.unico:hover {
    background-color: var(--cor4);
}